@import "palette";

$medium-width: 62rem;
$small-width: 52rem;

$normal-sidebar-width: 20rem;
$medium-sidebar-width: 15rem;

html {
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
  /* This may be a bit excessive */
  margin: 0px;
  // outline: 1px solid red;
}

/* This lets empty `div`s take up space */
div:after:empty {
  content: '&#x200B';
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

div#sidebar {
  position: fixed;
  width: $normal-sidebar-width;
  height: 100vh;

  background-color: $color-primary-3;

  div#sidebar-top, div#sidebar-bottom {
    position: absolute;

    padding-left: 2rem;
    padding-right: 3rem;
  }

  div#sidebar-top {
    top: 20px;

    h1 {
      color: white;
      font-size: 40px;
    }
  }

  div#sidebar-bottom {
    bottom: 20px;

    div.items {
      position: relative;

      a {
        /* Not sure why this is needed for margins and padding to behave sensible */
        display: inline-block;

        color: white;
        text-decoration: none;
        margin-top: 2.5px;
        padding-bottom: 2.5px;
      }
      a:hover {
        text-decoration: underline;
      }
      a.home {
        font-size: 18px;
        font-weight: bold;
      }
    }

    p#license-blurb, p#license-blurb a {
      color: $color-secondary-2-1;
      font-size: 11px;
    }
    p#license-blurb {
      margin-top: 16px;
    }
  }
}
@media(max-width: $medium-width) {
  div#sidebar {
    width: $medium-sidebar-width;

    div#sidebar-top, div#sidebar-bottom {
      padding-right: 3rem;
    }

    div#sidebar-top {
      h1 {
        font-size: 30px;
      }
    }
  }
}
@media(max-width: $small-width) {
  div#sidebar {
    position: static;
    width: 100%;
    height: auto;

    padding-top: 10px;
    padding-bottom: 10px;

    div#sidebar-top, div#sidebar-bottom {
      position: static;
      padding-right: 2rem;
      padding-bottom: 16px;

      text-align: center;
    }

    div#sidebar-top {
      h1 {
        font-size: 40px;
      }
    }
  }
}

div#content {
  margin-left: $normal-sidebar-width;
  min-height: 100vh;
  padding-left: 32px;
  background-color: $color-secondary-1-1;

  pre#tera-context-dump {
    background-color: $color-secondary-2-0;
    color: white;
    width: min-content;
    padding: 16px;
  }
}
@media (max-width: $medium-width) {
  div#content {
    margin-left: $medium-sidebar-width;
  }
}
@media (max-width: $small-width) {
  div#content {
    margin-left: 0px;
  }
}

div.page-card {
  padding-top: 2rem;
}

div.page-card, div.page {
  .page-title {
    color: $color-secondary-2-4;
    text-decoration: none;
  }
  a.page-title:hover {
    text-decoration: underline;
  }
  .page-date {
    color: $color-secondary-2-2;
    padding-bottom: 32px;
  }
}

div.page {
  .page-title {
    padding-top: 2rem;
  }

  div.main-content {
    padding-bottom: 2rem;

    h1, h2, h3, h4, h5, h6 {
      color: $color-secondary-2-4;
      padding-bottom: 0.5rem;
    }

    p {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      line-height: 1.25rem;
    }
  }

  padding-right: 2rem;
  max-width: 50rem;
}

pre {
  overflow: auto;
  padding: 1rem;
}
