{% extends "base.html" -%}
{%- import "sidebar.html" as sidebar -%}

{%- block title -%} {{ page.title }} | {{ config.title }} {%- endblock -%}

{%- block body -%}

{%- set section = get_section(path=page.ancestors[0]) -%}
{{ sidebar::sidebar(title=config.title, home="/", section=section, page=page, links=config.extra.links) }}
<div id="content">
  <main>
    {%- if config.extra.dump_tera_context -%}
     <pre id="tera-context-dump">{{ __tera_context | escape }}</pre>
    {%- endif -%}
    {%- block content -%}
      <article>
        <div class="page-card">
          <h1 class = "page-title">{{ page.title }}</h1>
          <p class="page-date">{{ page.date }}</p>
        </div>
        <div class = "main-content">
          {{ page.content | safe }}
        </div>
      </article>
    {%- endblock content %}
  </main>
</div>
{% endblock -%}
