{% import "license.html" as license %}

{% macro sidebar(title="", home="", section, page="", links) %}
<div id="sidebar">
  <div id="sidebar-top">
    <h1>{{ title }}</h1>
  </div>
  <div id="sidebar-bottom">
    <nav class="items">
      {%- if home != "" -%}
      <a class="home" href="{{ home | safe }}">Home</a><br />
      {%- endif -%}
      {#- FIXME: This does not deal with more than one level of ancestors -#}
      {%- for ancestor_path in section.ancestors -%}
      {%- set ancestor = get_section(path=ancestor_path) -%}
        {%- for subsection_path in ancestor.subsections -%}
        {%- set subsection = get_section(path=subsection_path) %}
          <a href="{{ "/" ~ subsection.path | safe }}">{{ subsection.title }}</a><br />
        {%- endfor -%}
      {%- endfor -%}
      {%- for subsection in section.subsections -%}
        {%- set subsection = get_section(path=subsection) %}
        <a href="{{ "/" ~ subsection.path | safe }}">{{ subsection.title }}</a><br />
      {%- endfor -%}
      {%- for link in links %}
        <a href="{{ link.url | safe }}">{{ link.label }}</a><br />
      {%- endfor %}
    </nav>
  </div>
  {%- if page is object -%}
    <div id="sidebar-license">
      {{ license::license_notice(year=page.date | date(format="%Y"), license=page.extra.license | default(value="")) }}
    </div>
  {%- endif -%}
</div>
{%- endmacro sidebar -%}
